## Writing Your First Python Code

## Objectives

After completing this lab you will be able to:


-   Write basic code in Python
-   Work with various types of data in Python
-   Convert the data from one type to another
-   Use expressions and variables to perform operations

## SAY "Hello" to the world in Python
When learning a new programming language, it is customary to start with an "hello world" example. As simple as it is, this one line of code will ensure that we know how to print a string in output and how to execute code within cells in a notebook.

print ('Hello, python')

## What version of Python are we using
We can ask python directly and obtain the version of python

In [36]:
import sys
print(sys.version)

3.12.12 (main, Oct 10 2025, 08:52:57) [GCC 11.4.0]

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
    [Tip:] <code>sys</code> is a built-in module that contains many system-specific parameters and functions, including the Python version in use. Before using it, we must explictly <code>import</code> it.
</div>
<hr/>

# Writing comments in Python
It is recommended that you add comments to your code to help others understand
what you were trying to accomplish. This also serve as a reminder to you when you come
back to it weeks or months later.

<p>
    To write comments in Python, use the number symbol <code>#</code> before writing your comment. When you run your code, Python will ignore everything past the <code>#</code> on a given line.
</p>

In [37]:
# Practice on writing comments
print('hello, Python!') # This line prints a string

hello, Python!

<p>
    To write comments in Python, use the number symbol <code>#</code> before writing your comment. When you run your code, Python will ignore everything past the <code>#</code> on a given line.
</p>

<h3 id ="errors">Errors in Python</h3>

<p>Everyone makes mistakes. For many types of mistakes, Python will tell you that you have made a mistake by giving you an error message. It is important to read error messages carefully to really understand where you made a mistake and how you may go about correcting it.</p>
<p>For example, if you spell <code>print</code> as <code>frint</code>, Python will display an error message. Give it a try:</p>

In [38]:
# Print string as error message
print("Ayo")
frint("Hello, Python!")
print("Ayo")

Ayo

NameError: name 'frint' is not defined

<p>The error message tells you:
<ol>
    <li>where the error occurred (more useful in large notebook cells or scripts), and</li>
    <li>what kind of error it was (NameError)</li>
</ol>
<p>Here, Python attempted to run the function <code>frint</code>, but could not determine what <code>frint</code> is since it's not a built-in function and it has not been previously defined by us either.</p>

<p>
    You'll notice that if we make a different type of mistake, by forgetting to close the string, we'll obtain a different error (i.e., a <code>SyntaxError</code>). Try it below:
</p>

In [ ]:
# Try to see build in error message

print("Hello, Python!)

print("it's a boy")

## Does Python know about your error before it runs your code

Python is what is called an interpreted language. Compiled languages examine
your entire program at compile time, and are able to warn you about a whole
class of errors prior to execution. In contrast, Python interprets your script
line by line as it executes it. Python will stop executing the entire program
when it encounters an error.

In [ ]:
# Print string and error to see the running order
print ("hi")

print("This will be printed")
frint("This will cause an error")
print("This will NOT be printed")

## Exercise

<p>Generations of programmers have started their coding careers by simply printing "Hello, world!". You will be following in their footsteps.</p>
<p>In the code cell below, use the <code>print()</code> function to print out the phrase: <code>Hello, world!</code></p>

<p>Now, let's enhance your code with a comment. In the code cell below, print out the phrase: <code>Hello, world!</code> and comment it with the phrase <code>Print the traditional hello world</code> all in one line of code.</p>

In [ ]:
print("Hello, world!") # Print the traditional hello world

<h2 id="types_objects" align="center">Types of objects in Python</h2>

<p>Python is an object-oriented language. There are many different types of objects in Python. Let's start with the most common object types: <i>strings</i>, <i>integers</i> and <i>floats</i>. Anytime you write words (text) in Python, you're using <i>character strings</i> (strings for short). The most common numbers, on the other hand, are <i>integers</i> (e.g. -1, 0, 100) and <i>floats</i>, which represent real numbers (e.g. 3.14, -42.0).</p>

In [39]:
# Integer
11111

11111

In [40]:
# Float
5.6

5.6

In [41]:
# String

"Hello, Python 101!"

'Hello, Python 101!'

<p>You can get Python to tell you the type of an expression by using the built-in <code>type()</code> function. You'll notice that Python refers to integers as <code>int</code>, floats as <code>float</code>, and character strings as <code>str</code>.</p>

In [42]:
type (12) # to get the type of an expression

int

## Integers
<p>Here are some examples of integers. Integers can be negative or positive numbers:</p>

In [43]:
1

1

<h3 id="float">Floats</h3>

<p>Floats represent real numbers; they are a superset of integer numbers but also include "numbers with decimals". There are some limitations when it comes to machines representing real numbers, but floating point numbers are a good representation in most cases.

<p>Once again, can test some examples with the <code>type()</code> function:

In [44]:
type (1.0)

float

<h3 id="convert">Converting from one object type to a different object type</h3>
<p>You can change the type of the object in Python; this is called typecasting. For example, you can convert an <i>integer</i> into a <i>float</i> (e.g. 2 to 2.0).</p>
<p>Let's try it:</p>

In [45]:
# Verify that this is an integer
type(2)

int

In [46]:
# Convert 2 to a float
float(2)

2.0

In [47]:
# Convert integer 2 to a float and check its type
type(float(2))

float

In [48]:
# Casting 1.1 to integer will result in loss of information

int(1.1)

1

<p>Sometimes, we can have a string that contains a number within it. If this is the case, we can cast that string that represents a number into an integer using <code>int()</code>:</p>

In [49]:
# Convert a string into an integer
int('1')

1

<p>But if you try to do so with a string that is not a perfect match for a number, you'll get an error. Try the following:</p>

In [50]:
# Convert a string into an integer with error
int ('1 or 2 people')

ValueError: invalid literal for int() with base 10: '1 or 2 people'

In [ ]:
# Convert the string "1.2" into a float
print(float ('1.5'))

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
    [Tip:] Note that strings can be represented with single quotes (<code>'1.2'</code>) or double quotes (<code>"1.2"</code>), but you can't mix both (e.g., <code>"1.2'</code>).
</div>
<hr/>

In [ ]:
# Convert an integer to a string

str(1)

<h3 id="bool">Boolean data type</h3>
<p><i>Boolean</i> is another important type in Python. An object of type <i>Boolean</i> can take on one of two values: <code>True</code> or <code>False</code>:</p>

In [ ]:
# Value true
print(type(True))

In [ ]:
# Value false

False

<p>Notice that the value <code>True</code> has an uppercase "T". The same is true for <code>False</code> (i.e. you must use the uppercase "F").</p>

In [ ]:
# Type of True
type(True)

<p>We can cast boolean objects to other data types. If we cast a boolean with a value of <code>True</code> to an integer or float we will get a one. If we cast a boolean with a value of <code>False</code> to an integer or float we will get a zero. Similarly, if we cast a 1 to a Boolean, you get a <code>True</code>. And if we cast a 0 to a Boolean we will get a <code>False</code>. Let's give it a try:</p>

In [ ]:
# Convert True to int

int(True)

In [51]:
# Convert 1 to boolean

bool(0)

False

<h3 id="exer_type">Exercise: Types</h3>

<p>What is the data type of the result of: <code>6 / 2</code>?</p>

In [52]:
#Type your answer
print(type(6/2))

<class 'float'>

In [53]:
print(type(6/2))

<class 'float'>

<p>What is the type of the result of: <code>6 // 2</code>? (Note the double slash <code>//</code>.)</p>

In [54]:
type(6//2)

int

<h2 id="expressions">Expression and Variables</h2>

<h3 id="exp">Expressions</h3>

In [55]:
# Addition operation expression
43 + 60+16+41

160

In [56]:
# Multiplication operation expression

5 * 5

25

In [57]:
# Division operation expression is done with forward slash
20/5

4.0

In [58]:
# Integer division operation expression

print(25 // 5)

5

<h3 id="exer_exp">Exercise: Expression</h3>

<p>Let's write an expression that calculates how many hours there are in 160 minutes:

In [59]:
160/60

2.6666666666666665

<details><summary>Click here for the solution</summary>

```python
160/60

# Or

160//60

```

</details>

<p>Python follows well accepted mathematical conventions when evaluating mathematical expressions. In the following example, Python adds 30 to the result of the multiplication (i.e., 120).

In [60]:
# Mathematical expression
30 + 2 * 60

150

## Variables
<p>Just like with most programming languages, we can store values in <i>variables</i>, so we can use them later on. For example:</p>

a = 6

In [65]:
print(a + 14)

NameError: name 'a' is not defined

In [ ]:
# Store value into variable
x=43+60+16+41
x

<p>To see the value of <code>x</code> in a Notebook, we can simply place it on the last line of a cell:</p>

In [ ]:
#Print out the value in variable
x

<p>We can also perform operations on <code>x</code> and save the result to a new variable:</p>

In [64]:
# Use another variable to store the result of the operation between variable and value

y = x / 60
y

0.0019444444444444444

<p>If we save a value to an existing variable, the new value will overwrite the previous value:</p>

In [63]:
# Overwrite variable with new value

x = x / 60

In [ ]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes

<h3 id="exer_exp_var">Exercise: Expression and Variables in Python</h3>

<p>What is the value of <code>x</code> where <code>x = 3 + 2 * 2</code></p>

In [62]:
x = 3 + 2 * 2
print(x)

7

<p>What is the value of <code>y</code> where <code>y = (3 + 2) * 2</code>?</p>

In [ ]:
y = (3 + 2) * 2
print(y)

## Thank you